.box{
    color: black;
    background-color: blueviolet;
    height: 100px;
    weight: 100px;
    margin: 30px;
    padding-top: 10px;
    padding-left: 20px;
   
}

.box-dua{
    color: black;
    background-color: yellow;
    height: 100px;
    weight: 100px;
    margin: 50px;
    padding: 50px;
    
}